# Fichier .gitignore pour un projet Node.js

# Ignorer le dossier node_modules
node_modules/

# Ignorer les fichiers de logs
*.log

# Ignorer les fichiers de l'éditeur
.vscode/
.idea/

# Ignorer les fichiers temporaires et les fichiers de build
tmp/
dist/

# Ignorer les fichiers de configuration spécifiques à l'environnement
.env
